#blueBack {
    background-color: #1da2d8;
    width: 400px;
    height: 200px;
    position: relative;
}

h1 {
    font-family: cursive;
    font-weight: 400;
    font-variant: small-caps;
    color:#064273;
    position: absolute;
    left: 5%;
    top: -8%;
}

@keyframes sunriseText {
    from {color: #064273;}
    to {color: #ff7b7b;}
    0%,80% {transform: rotateY(180deg);}
}

h1:hover {
    animation-name: sunriseText;
    animation-duration: 4s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

#sun {
    position: absolute;
    width: 20%;
    height: 30%;
    background-color: #ff7b7b;
    top: 70%;
    left: 65%;
    border-radius: 50% 50% 0% 0%;
}

#sunRay {
    position: absolute;
    width: 25%;
    height: 35%;
    top: 63%;
    left: 61.5%;
    border: 4px solid #ffb58d;
    border-style: solid solid none solid;
    border-radius: 50% 50% 0% 0%;
    visibility: hidden; 
}

#sunWhite {
    position: absolute;
    width: 32%;
    height: 43%;
    top: 55%;
    left: 58.5%;
    border: 3px solid #ffc884;
    border-style: solid solid none solid;
    border-radius: 50% 50% 0% 0%;
    visibility: hidden; 
}

#sunOuter {
    position: absolute;
    width: 38%;
    height: 50%;
    top: 45%;
    left: 55.4%;
    border: 3px solid #ffe4a4;
    border-style: solid solid none solid;
    border-radius: 50% 50% 0% 0%;
    visibility: hidden; 
}

#sunOutest {
    position: absolute;
    width: 45%;
    height: 55%;
    top: 35%;
    left: 52%;
    border: 3px solid #f7ffb6;
    border-style: solid solid none solid;
    border-radius: 50% 50% 0% 0%;
    visibility: hidden; 
}

#ocean {
    position: absolute;
    height: 145%;
    width: 100%;
    background-color: #76b6c4;

    --mask:
    radial-gradient(9.6px at 50% calc(100% + 7.00px),#0000 calc(99% - 2px),#000 calc(101% - 2px) 99%,#0000 101%) calc(50% - 10px) calc(50% - 3.5px + .5px)/20px 7px ,
    radial-gradient(9.6px at 50% -7px,#0000 calc(99% - 2px),#000 calc(101% - 2px) 99%,#0000 101%) 50% calc(50% + 3.5px)/20px 7px ;
    -webkit-mask: var(--mask);
    mask: var(--mask);
}

@keyframes wavyWaves {
    from {background-color: #000001;}
    to {background-color: #76b6c4;}
}

@keyframes wavyWavesTwo {
    from {background-color: #76b6c4;}
    to {background-color: #064273;}
}

#ocean:hover {
    animation-name: wavyWavesTwo;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

#oceanBack:hover {
    animation-name: wavyWaves;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
} 

#oceanBack {
    position: absolute;
    top: 80%;
    height: 20%;
    width: 100%;
    background-color: #064273;

    --mask:
    radial-gradient(8.60px at 50% 12.00px,#000 99%,#0000 101%) calc(50% - 10px) 0/20px 100%,
    radial-gradient(8.60px at 50% -7px,#0000 99%,#000 101%) 50% 5px/20px 100% repeat-x;
    -webkit-mask: var(--mask);
    mask: var(--mask);
}

#waves {
    position: absolute;
    background-color: #def3f6;
    height: 10%;
    width: 100%;
}

html {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
  } 